// import font
@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
}

h1 {
  font-family: "Imperial Script", cursive;
}

.layout {
  @include dynamicAlign(
    $justify: center,
    $align: center,
    $direction: column-reverse
  );
  min-height: 100vh;
  padding-block: 2rem;
  @include lg {
    @include dynamicAlign($justify: center, $align: start, $direction: row);
    padding-top: 5rem;
  }
}

.layout.theme1 {
  @include backgroundTheme("../assets/bg_theme1.png");
}

.layout.theme2 {
  @include backgroundTheme("../assets/bg_theme2.png");
}
.layout.theme3 {
  @include backgroundTheme("../assets/bg_theme3.png");
}

.navigation {
  @include dynamicAlign($gap: 2rem);
  position: relative;
}

.theme_list {
  position: absolute;
  right: 0;
  top: 5rem;
  width: 20rem;
  background: $app_nav_background;
  border-radius: $app_radius - 2rem;
  padding: $app_padding;
  @include dynamicAlign($direction: column, $align: center);
  opacity: 1;
  transition: all 0.3s ease;
  box-shadow: $app_box_shadow;
  z-index: 3;
  a {
    font-size: $app_font_size;
    text-decoration: none;
    color: $app_nav_text;
    &.active {
      color: $app_nav_text_active;
    }
  }
}
